
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .left-nav,
  .right-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    margin: 0 8px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .nav-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  .nav-btn:active {
    transform: scale(0.98);
  }
  .logout-login-btn {
    background-color: red !important;
  }