<div class="wrapper">
  <nav>
    <button *ngIf="authService.isLoggedIn()" routerLink="/races">Races</button>
    <button *ngIf="authService.getUserRole() === 'Applicant'" routerLink="/applications">My Applications</button>
    <button *ngIf="authService.getUserRole() === 'Administrator'" routerLink="admin/race-management">Manage Races</button>
    <button *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</button>
    <button *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</button>
  </nav>
  
    <router-outlet></router-outlet>
  </div>
  
  